body {
  font-family: sans-serif;
  background: #f0f0f0;
  padding: 1em;
}

.wrapper {
  max-width: 500px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

input[type="file"],
select,
input[type="password"] {
  padding: 20px;
  font-size: 1.1em;
  width: 100%;
  box-sizing: border-box;
}

/* Style for all main buttons */
button,
input[type="submit"] {
  padding: 20px;
  font-size: 1.1em;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  width: 100%;
  box-sizing: border-box;
}

button:hover,
input[type="submit"]:hover {
  background-color: #0056b3;
}

#progressWrapper {
  width: 100%;
  height: 20px;
  background: #ddd;
  border-radius: 10px;
  overflow: hidden;
}

#progressBar {
  width: 0%;
  height: 100%;
  background: #28a745;
  transition: width 0.3s ease;
}

#wifiStatus {
  text-align: center;
  font-weight: bold;
}
